{
    "ssd_photos": "H:\\Photography",
    "ssd_catalog_dir": "H:\\Catalog",
    "desktop_photos": "E:\\Photography",
    "desktop_catalog_dir": "C:\\Lightroom\\Catalog",
    "catalog_name": "MyCatalog"
}
